{%extends 'layout/layout.html'%}
{%load static%}
{% block body%}
    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'main:dashboard'%}">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="" style="max-height: 300px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


       <!-- About Start -->
       <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="{% static 'img/about-img.jpeg' %}">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">About Us</div>
                    <h1 class="mb-4">Discover Our Data Science and AI Community</h1>
                    <p class="mb-4">Welcome to KNUST AI/Data Science Club , Our AI/Data Science Club is driven by a collective aspiration to explore the frontiers of artificial intelligence and data science, fostering an environment that promotes learning, innovation, and collaboration. With the exponential growth in Artificial Intelligence in the world today, we believe that establishing this club will not only meet the growing demand for AI and data science knowledge but also provide a platform for students to exchange ideas, hone their skills, and undertake impactful projects.</p>
                    <p class="mb-4">Together, let's push boundaries, innovate, and build a community where curiosity knows no limits.

                        .</p>
                  
                    
                </div>
            </div> <div class="container-fluid bg-light py-5">
                <div class="container py-5">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Mission </div>
                          
                            <p class="mb-4"><i class="fa fa-check text-primary me-2"></i>
                                Create a vibrant and cooperative community of data science and artificial intelligence enthusiasts who are committed
                                 to furthering the fields of study, practice, and research</p>
                                 <p class="mb-4"><i class="fa fa-check text-primary me-2"></i>
                                    Provide a platform for students to expand their knowledge in AI and data science through workshops, seminars, and hands-on projects, contributing to the academic and research landscape at KNUST.</p>
                                     <p class="mb-4"><i class="fa fa-check text-primary me-2"></i>
                                        Emphasize the importance of appropriate application of data-driven technology and responsible use of AI in all our endeavors, advocating for the ethical use of data and technology</p>
                                         <p class="mb-4"><i class="fa fa-check text-primary me-2"></i>
                                            Foster an inclusive environment that encourages collaboration among students, faculty, and industry experts to exchange ideas and expertise</p>

                        </div>
                        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Vision</div>
                            
                            <p class="mb-4">At the KNUST AI/Data Science club, our vision is to be the premier
                                 hub for students interested in AI and data science, driving innovation and excellence in these 
                                 fields. We envision a future where our club members are at the forefront of AI and data science 
                                 advancements, leveraging their expertise to make meaningful contributions to technology while upholding 
                                 ethical and responsible practices. Beyond our community, we are dedicated to imparting our knowledge 
                                 to other organizations and enlightening them about the numerous advantages of artificial intelligence 
                                 and data science,
                                 ultimately assisting in their success and the advancement of the society as a whole.</p>
                         
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

{%endblock%}