{%extends 'layout/layout.html'%}
{%load static%}
{%block body%}

   
    



    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header mb-5">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">KNUST</div>
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Artificial Intelligence And Data Science Club</h1>
                    <p class="text-white mb-4 animated slideInRight">Join a Dynamic Environment, Focused on Unleashing Creativity, Building Skills, and Making a Difference in the World of AI and Data Science.</p>
                    <a href="{% url 'main:about'%}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Read More</a>
                    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfMykAuel5DJvIqRlE2PjhEMWMOrBLhu7X-BX4ZTl5vk-_9hA/viewform?usp=sf_link" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Join Us</a>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="row g-5">
            
                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel border-start border-primary">
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <h5 class="fs-5 ">🚀 Join the KNUST AI/Data Science Club: Igniting Innovation, Transforming Futures!</h5>  
                            <p class="fs-6">
                                Welcome to the beating heart of data-driven exploration at KNUST! 🌐 The AI/Data Science Club isn't just a club; it's a dynamic community fueled by curiosity, innovation, and a shared passion for AI and data science.
                                We're on a mission to create a vibrant ecosystem where data enthusiasts collaborate, learn, and innovate. Our workshops, seminars, and hands-on projects aren't just educational endeavors; they're pathways to shaping the future of technology and research at KNUST.
                                
                            </p>
                       
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <h5 class="fs-5">Why Join Us?</h5>
                            <p class="fs-6">
                              <strong>-Learn:</strong>Deepen your knowledge in AI and data science through our workshops and projects.

                            </p>
                            <p class="fs-6">
                                <strong>-Innovate:</strong>
                                Be part of groundbreaking projects that push the boundaries of technology.
  
                              </p>
                              <p class="fs-6">
                                <strong>-Collaborate:</strong>
                                Connect with students, faculty, and industry experts. Your ideas matter here.
  
                              </p>
                        
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <h6 class="fs-4">Who can join:</h6>
                          <p>
                            Anybody on KNUST campus who's passionate and curious about AI! Whether you're a seasoned coder or just starting, there's a place for you in our community. Together, we'll explore, innovate, and make a lasting impact
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="{% static 'img/about-img.jpeg' %}">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">About Us</div>
                    <h1 class="mb-4">Discover Our Data Science and AI Community</h1>
                    <p class="mb-4">Welcome to KNUST AI/Data Science Club , Our AI/Data Science Club is driven by a collective aspiration to explore the frontiers of artificial intelligence and data science, fostering an environment that promotes learning, innovation, and collaboration. With the exponential growth in Artificial Intelligence in the world today, we believe that establishing this club will not only meet the growing demand for AI and data science knowledge but also provide a platform for students to exchange ideas, hone their skills, and undertake impactful projects.</p>
                    <p class="mb-4">Together, let's push boundaries, innovate, and build a community where curiosity knows no limits.

                        .</p>
                  
                    <div class="d-flex align-items-center mt-4">
                        <a class="btn btn-primary rounded-pill px-4 me-3" href="{% url 'main:about'%}">Read More</a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->









    <!-- Team Start -->
    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Mission </div>
                  
                    <p class="mb-4"><i class="fa fa-check text-primary me-2"></i>
                        Create a vibrant and cooperative community of data science and artificial intelligence enthusiasts who are committed
                         to furthering the fields of study, practice, and research</p>
                         <p class="mb-4"><i class="fa fa-check text-primary me-2"></i>
                            Provide a platform for students to expand their knowledge in AI and data science through workshops, seminars, and hands-on projects, contributing to the academic and research landscape at KNUST.</p>
                             <p class="mb-4"><i class="fa fa-check text-primary me-2"></i>
                                Emphasize the importance of appropriate application of data-driven technology and responsible use of AI in all our endeavors, advocating for the ethical use of data and technology</p>
                                 <p class="mb-4"><i class="fa fa-check text-primary me-2"></i>
                                    Foster an inclusive environment that encourages collaboration among students, faculty, and industry experts to exchange ideas and expertise</p>
                    <a class="btn btn-primary rounded-pill px-4" href="{% url 'main:about'%}">Read More</a>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Vision</div>
                    
                    <p class="mb-4">At the KNUST AI/Data Science club, our vision is to be the premier
                         hub for students interested in AI and data science, driving innovation and excellence in these 
                         fields. We envision a future where our club members are at the forefront of AI and data science 
                         advancements, leveraging their expertise to make meaningful contributions to technology while upholding 
                         ethical and responsible practices. Beyond our community, we are dedicated to imparting our knowledge 
                         to other organizations and enlightening them about the numerous advantages of artificial intelligence 
                         and data science,
                         ultimately assisting in their success and the advancement of the society as a whole.</p>
                    <a class="btn btn-primary rounded-pill px-4" href="{% url 'main:about'%}">Read More</a>
                </div>
             
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start 
    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Blog</div>
                    <h1 class="mb-4">What Say Our Clients!</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                        amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                        clita duo justo et tempor eirmod magna dolore erat amet</p>
                    <a class="btn btn-primary rounded-pill px-4" href="">Read More</a>
                </div>
                <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel border-start border-primary">
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Client Name</h5>
                                    <span>Profession</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Client Name</h5>
                                    <span>Profession</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Client Name</h5>
                                    <span>Profession</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
-->


  
{%endblock%}