{%extends 'layout/layout.html'%}
{%load static%}
 
{%block body%}<!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Our Team</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'main:dashboard'%}">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Team</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="" style="max-height: 300px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Full Screen Search Start -->
    <!-- Team Start -->
    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class=" g-5 align-items-center">
                <div class="col-lg-12 align-items-center wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Team</div>
                    <h1 class="mb-4">Meet Our Executive  Team</h1>
                   
                </div>
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4"  src=" {% static 'img/co-president.jpg' %}" alt="">
                                        <h5 class="mb-0">Owusuaa Nana Ama Fobi</h5>
                                        <small>Co-President</small>
                                        <div class="d-flex justify-content-center mt-3">
                                         
                                           
                                            <a href="mailto:kaysell00378@gmail.com" class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fa fa-envelope"></i></a>
                                            <a href="https://www.linkedin.com/in/owusuaa-nana-ama-fobi-9208a5282?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{% static 'img/team-2.jpg' %}" alt="">
                                        <h5 class="mb-0">Adam Crew</h5>
                                        <small>Co-President</small>
                                        <div class="d-flex justify-content-center mt-3">
                                         
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fa fa-envelope"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pt-md-4">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{% static 'img/research.jpg' %}" alt="">
                                        <h5 class="mb-0">Bernard Nii Adote Allotey</h5>
                                        <small> Co-vice president for research and projects</small>
                                        <div class="d-flex justify-content-center mt-3">
                                         
                                            <a href="mailto:allotey361@gmail.com" class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fa fa-envelope"></i></a>
                                            <a href="https://www.linkedin.com/in/bernard-allotey-b9b051277?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{% static 'img/team-4.jpg' %}" alt="">
                                        <h5 class="mb-0">Cody Gardner</h5>
                                        <small>Project Manager</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4 pt-md-5">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{% static 'img/Frimpong.jpg' %}" alt="">
                                        <h5 class="mb-0">Emmanuel Kofi Frimpong</h5>
                                        <small>Co-vice President for Design, Communication and Brand</small>
                                        <div class="d-flex justify-content-center mt-3">
                                       
                                            <a href="mailto:efrimpong351@gmail.com" class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fa fa-envelope"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{% static 'img/kelvin.jpg' %}" alt="">
                                        <h5 class="mb-0">Ackah Kelvin</h5>
                                        <small>Co-vice President for Design, Communication and Brand</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


{% endblock%}
